VITE_FIREBASE_API_KEY=AIzaSyCPBra6Nz_ArmnbujoPgLmz4zWCT4rRQXo
VITE_FIREBASE_AUTH_DOMAIN=tefmaster-73dce.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://tefmaster-73dce-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=tefmaster-73dce
VITE_FIREBASE_STORAGE_BUCKET=tefmaster-73dce.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=615234013391
VITE_FIREBASE_APP_ID=1:615234013391:web:ae24e125bcce4031014fba
